body {
  background-color: #F2F1E8;
  color: #2B2F26;
  font-family: 'Merriweather';
  line-height: 2.3;
}

header {
  background-color: #FFFFFF;
  padding: .2em;
}

header nav {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto';
  text-transform: uppercase;
  margin-right: 42em;
}

.logo {
  background-image: url(images/optimized/bent-creek-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.logo a {
  opacity: 0;
}

header nav ul {

  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 4em;
}

header nav ul li {
  margin-right: 4em;
}

header nav a:link {
  color: #2B2F26;
}

header nav a:visited {
  color: #F5DEB3;
  text-decoration: none;
  font-size: 2em;
}

header nav a:focus,
header nav a:hover {
  color: #CD5D67;
  text-decoration: underline;
}

header nav a:active {
  color: #968772;
}

.wrapper {
  margin-left: 22em;
  margin-right: 22em;
}

.page {
  color: #F2F1E8;
  padding: 1.4em;
  background-color: #2B2F26;
  font-size: 3.1em;
  }

  h1 {
    font-weight: 300;
    font-size: 16em;
    text-align: center;
    margin: .1em;
  }

.birdhouse {
  background-image: url(images/optimized/birdhouse.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 11em;
  width: 15em;
  float: left;
  margin-right: 2em;
}

p {
  font-size: 4.2em;
}


blockquote  p {
  margin: 0;
  padding: 0 0 0 3em;
  font-style: italic;
  font-weight: lighter;
}

blockquote {
  border-left: solid 1px #2B2F26;
  margin-left: -.06em;
  margin-top: 3em;
}

h3 {
  font-size: 6em;
  font-weight: 300;
  margin-bottom: -.5em;
}

.grow {
  background-image: url(images/optimized/background-3.jpg);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1100px;
  width: 152%;
  margin-left: -23em;
  margin-top: 4em;
}

.grow p {
  color: #F2F1E8;
  margin: 0;
  position: absolute;
  bottom: 260px;
  left: 1700px;
  font-size: 13em;
}

.facilities {

}

aside {
  background-image: url(images/optimized/background-1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
