body {
  background-color: #F2F1E8;
  color: #2B2F26;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather';
  line-height: 1.8;
}

header {
  background-color: #FFFFFF;
  padding: .2em;
}

header nav {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto';
  text-transform: uppercase;
  margin-right: 11em;
}

.logo {
  background-image: url(images/optimized/bent-creek-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}

.logo a {
  opacity: 0;
}

header nav ul {

  list-style: none;
  display: flex;
  justify-content: center;
}

header nav ul li {
  margin-right: 4em;
}

header nav a:link {
  color: #2B2F26;
}

header nav a:visited {
  color: #F5DEB3;
  text-decoration: none;
  font-size: 2em;
}

header nav a:focus,
header nav a:hover {
  color: #CD5D67;
  text-decoration: underline;
}

header nav a:active {
  color: #968772;
}

.wrapper {
  background-image: url(images/optimized/background-2.jpg);
  background-size: cover;
}
