body {
  background-color: #F2F1E8;
  color: #2B2F26;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather';
  line-height: 1.8;
}

header {
  background-color: #FFFFFF;
  padding: .2em;
}

header nav {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto';
  text-transform: uppercase;
  margin-right: 24em;
}

.logo {
  background-image: url(images/optimized/bent-creek-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}

.logo a {
  opacity: 0;
}

header nav ul {

  list-style: none;
  display: flex;
  justify-content: center;
}

header nav ul li {
  margin-right: 4em;
}

header nav a:link {
  color: #2B2F26;
}

header nav a:visited {
  color: #F5DEB3;
  text-decoration: none;
  font-size: 2em;
}

header nav a:focus,
header nav a:hover {
  color: #CD5D67;
  text-decoration: underline;
}

header nav a:active {
  color: #968772;
}

.bent-creek {
  display: block;
  text-align: center;
}

h1 {
  font-weight: 400;
  font-size: 3em;
}

h2 {
  font-weight: 200;
  font-size: 1.75em;
  margin-top: -1.85em;
}

.tiles {
  margin-left: 1em;
  margin-right: -29px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: .7em;
}

.tiles div {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 11px;
  margin-bottom: 12px;
}

.tiles div p {
  margin: 0;
  position: absolute;
  bottom: 10px;
  padding: 1px 5px 1px 7px;
}

p {
  color: #F2F1E8;
  background-color: #2B2F26;
}

.endless {
  background: url(images/optimized/product-1.jpg);
  height: 200px;
  width: 200px;
  flex-basis: 58.5%;
}

.sets {
  background: url(images/optimized/product-2.jpg);
  height: 200px;
  width: 200px;
  flex-basis: 18%;
}

.textures {
  background: url(images/optimized/product-3.jpg);
  height: 200px;
  width: 200px;
  flex-basis: 18%;
}

.tea {
  background: url(images/optimized/product-4.jpg);
  height: 200px;
  width: 200px;
  flex-basis: 18%;
}

.jars {
  background: url(images/optimized/product-5.jpg);
  height: 200px;
  width: 200px;
  flex-basis: 18.5%;
}

.wasabi {
  background: url(images/optimized/product-6.jpg);
  height: 200px;
  width: 200px;
  flex-basis: 37%;
}

.sippin {
  background: url(images/optimized/product-7.jpg);
  height: 200px;
  width: 200px;
  flex-basis: 20%;
}


footer {
  color: #F2F1E8;
  padding: 1em;
  background-color: #2B2F26;
}
